/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* temporal */
  border: 2px solid red;
}
header {
  text-align: center;
  /* width:1280px; */
  max-width: 1280px;
  /* min-width */
  margin:0 auto;
  padding:96px;
}
h1{
  /* top right bottom left */
  margin-top:20px;
  margin-bottom:40px;
  font-size:48px;
}
p{
  margin-bottom: 40px;
  font-family: Arial;
}
small{
  font-family: Arial;
}
img{
  margin-top: 40px;
  width: 90%;
}

.btn {
  padding: 18px;
  border-radius: 36px;
}

.btn-claro {
  background-color: white;
  color:black;
  border-color:black;
}

.btn-oscuro {
  background-color: black;
  color:white;
}