header {
  font-size:20px;
}

h1 {
  font-size:2em;
  color: peru;
  font-family: Arial, Helvetica, sans-serif;
}

/* @media <medio-dispositivo> and (condicional) {
  selectores {
    propiedades:valores
    Estas propiedades solo serán útiles bajo esta condicional y este medio
  }
}*/
@media screen and (width <= 1024px) {
  h1 {
    color: steelblue;
  }
}