/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* temporal */
  border:2px solid red;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  /* inherit - heredada */
  color: inherit;
}

.container {
  /* margin: topbottom costados */
  margin:0 auto;
  max-width: 992px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding:40px;
}

.main-links {
  display: flex;
  gap:20px;
  font-family: 'Poppins', sans-serif;
  align-items:center;
}



