* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* li {
  list-style-type: none;
} */
/* generales */
.container{
  max-width: 1000px;
  margin:0 auto;
}

/* navbar */
.navbar {
  border:1px solid #DBDBDB;
  background-color: #FAFAFA;
  height:53px;
}

.navbar-content{
  display: flex;
  align-items:center;
  height:52px;
  justify-content: space-between;
}

.search {
  padding:5px 3px;
  border-radius:5px;
}

.navbar-icons {
  display:flex;
  gap:22px;
}

/* grilla */

.photos {
  display: grid;
  /* grid explicito */
  grid-template-columns: repeat(3, minmax(292px, 1fr));
  grid-template-rows: repeat(2, minmax(292px, auto));
}

/* imgbox va a tomar el tamaño que le corresponda según como este definida la grilla */
.img-box { 
  overflow: hidden;
  position: relative;
}

.shadow {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  font-family: Arial, sans-serif;
  color:white;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* gradiente, background, background-image */
  /* va a recibir multiples valores, la idea es al menos 3 */
  /* linear-gradient() */
  /* background: linear-gradient(45deg, rgb(245, 4, 4) 0%, rgb(34, 252, 147) 100%); */
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.25) 100%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap:8px;
}