* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border:2px solid red;
}

.card {
    font-size:15px;
    padding: 22px;
}

.card-title {
    font-size: 2em;
    /* font-size: 30px; */
    margin-bottom: 0.5em;
    /* margin-bottom: 15px; */
}