/* variables */
:root {
  /* tamaño */
  /* color */
  /* tipo de fuente */
  /* valor, texto en general que represente un valor */
  --azul: blue;
  --primary-color: #1db954;
  --secondary-color-01: #000000;
  --secondary-color-02: #191414;
  --secondary-color-03: #505050;
  --secondary-color-04: #ffffff;

  --genre-color01: #55a891;
  --genre-color02: #27856a;
  --genre-color03: #5f8109;
  --genre-color04: #5e073b;
  --genre-color05: #f037a5;
  --genre-color06: #af2896;
  --genre-color07: #af2896;
  --genre-color08: #477d95;
  --genre-color09: #509bf5;
  --genre-color10: #1d3164;
  --genre-color11: #e8115b;
  --genre-color12: #e13300;
  --genre-color013: #ba5d07;
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /* temporal */
  /* border:1px solid var(--azul); */
}

body {
  background-color: var(--secondary-color-01);
  color: var(--secondary-color-04);
  font-family: "Montserrat", sans-serif;
}

/* inicio general */
main {
  padding:30px 45px;
}

section {
  margin-bottom:40px;
}
/* fin general */

/* búsquedas recientes */
.busquedas-recientes h2 {
  margin-bottom:30px;
}

.tarjetas-busqueda {
  display: flex;
  gap:20px;
  overflow-x: scroll;
}

.tarjeta {
  padding:10px;
  display: flex;
  flex-direction: column;
  gap:10px;
  position:relative;
  background-color: var(--secondary-color-02);
  border-radius:10px;
}

.cerrar-artista {
  position: absolute;
  top:5px;
  right:5px;
}

.nombre-artista {
  font-weight: 600;
}

.tarjeta h5 {
  font-weight: 600;
  color: var(--secondary-color-03);
}

/* Explorar todo - Browse All */
