/* variables */
:root {
  /* tamaño */
  /* color */
  /* tipo de fuente */
  /* valor, texto en general que represente un valor */
  --azul: blue;
  --primary-color: #1db954;
  --secondary-color-01: #000000;
  --secondary-color-02: #191414;
  --secondary-color-03: #505050;
  --secondary-color-04: #ffffff;

  --genre-color01: #55a891;
  --genre-color02: #27856a;
  --genre-color03: #5f8109;
  --genre-color04: #5e073b;
  --genre-color05: #f037a5;
  --genre-color06: #af2896;
  --genre-color07: #af2896;
  --genre-color08: #477d95;
  --genre-color09: #509bf5;
  --genre-color10: #1d3164;
  --genre-color11: #e8115b;
  --genre-color12: #e13300;
  --genre-color013: #ba5d07;
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /* temporal */
  /* border:1px solid var(--azul); */
}

body {
  background-color: var(--secondary-color-01);
  color: var(--secondary-color-04);
  font-family: "Montserrat", sans-serif;
}

/* inicio general */
main {
  padding:30px 45px;
}

section {
  margin-bottom:40px;
}

.contenedor {
  width:100vw;
  display:flex;
}
/* fin general */

/* búsquedas recientes */
.busquedas-recientes h2 {
  margin-bottom:30px;
}

.tarjetas-busqueda {
  display: flex;
  gap:20px;
  overflow-x: scroll;
}

.tarjeta {
  padding:10px;
  display: flex;
  flex-direction: column;
  gap:10px;
  position:relative;
  background-color: var(--secondary-color-02);
  border-radius:10px;
}

.cerrar-artista {
  position: absolute;
  top:5px;
  right:5px;
}

.nombre-artista {
  font-weight: 600;
}

.tarjeta h5 {
  font-weight: 600;
  color: var(--secondary-color-03);
}

/* Explorar todo - Browse All */
.explorar-todo h2 {
  margin-bottom: 30px;
}

.contenedor-generos {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cuadro-genero {
  padding: 20px;
  border-radius:10px;
  overflow: hidden;
  height:250px;
}

.album-genero {
  width:150px;
  /* translate(x, y) */
  /* calc me permite hacer operaciones aritméticas calc(50px + 1rem); calc(10% * 5) */
  transform: translate(calc(100px + 20%), 70px) rotate(30deg);
}

.cuadro-genero:nth-of-type(1) {
  background-color: var(--genre-color01);
}

.cuadro-genero:nth-of-type(2) {
  background-color: var(--genre-color02);
}

.cuadro-genero:nth-of-type(3) {
  background-color: var(--genre-color03);
}

.cuadro-genero:nth-of-type(4) {
  background-color: var(--genre-color04);
}

.cuadro-genero:nth-of-type(5) {
  background-color: var(--genre-color05);
}

.cuadro-genero:nth-of-type(6) {
  background-color: var(--genre-color06);
}

.cuadro-genero:nth-of-type(7) {
  background-color: var(--genre-color07);
}

.cuadro-genero:nth-of-type(8) {
  background-color: var(--genre-color08);
}

.cuadro-genero:nth-of-type(9) {
  background-color: var(--genre-color09);
}

.cuadro-genero:nth-of-type(10) {
  background-color: var(--genre-color10);
}

.cuadro-genero:nth-of-type(11) {
  background-color: var(--genre-color11);
}

.cuadro-genero:nth-of-type(12) {
  background-color: var(--genre-color12);
}

/* aside opciones */
.opciones {
  width:95px;
  padding:10px;
  display:flex;
  flex-direction: column;
}