* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  border:2px solid blue;
}

.contenedor {
  /* vh - viewport height */
  min-height: 100vh;
  border:2px solid red;
  /* objgrid - crear una grilla # */
  display: grid;
  /* grid-template-columns: 200px 200px 200px; */
  /* fr espacio libre, free space */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* repeat(cantidad, tamaño) */
  /* grid-template-columns: repeat(3, 1fr); */
  /* minmax(tam_min, tam_max */
  grid-template-columns: repeat(3, minmax(300px, 400px));
  /* grid-template-rows: 150px 150px 150px; */
  /* en grid template rows puedo utilizar los fr, siempre y cuando el contenedor tenga una altura */
  grid-template-rows: repeat(3, 1fr);
  /* se separan entre items */
  gap:20px;
}

