/* Selectores */
main {
  background-color: dodgerblue;
  font-family: Arial;
}

p {
  font-weight: bold;
}

/* selectores de clase */
/* .nombre_clase */
.texto-blanco {
  color: white;
}

.importante {
  text-decoration: underline;
}

/* selectores de id */
/* #nombre_del_id */
#p-final{
  color:lightgray;
  font-style: italic;
}
/* en CSS se utilices clases */
/* en JS usualmente ID */

/* algunos cuantos operadores para seleccionar elementos de forma más especifica */

/* primeros elementos hijos */
/* ctrl + } - cmd + } */
ul > li {
  color:yellow;
}
/* a todos los hijos, ya no interesa si son primeros, segundos, nietos, tataranietos */
ul li {
  font-style:italic;
}

/* combinador de hermanos */
/* virgulilla */
span ~ p {
  color: red;
}

/* pseudoclase */
/* selector:pseudoclase */
/* del selector previo que tengo, voy a afectar a los impares*/
/* odd - impar */
tr:nth-of-type(odd) {
  background-color: gold;
}

/* even - par */
tr:nth-of-type(even) {
  background-color:ghostwhite;
}

tr:nth-of-type(4){
  font-weight: bold;
}

.parrafos p:nth-child(3){
  color:orange;
}