header {
  border:2px solid blue;
  /* margin:50px; */
  /* 02 valores: EJEX EJEY */
  margin: 40px 100px;
  width: 500px;
}

h1{
  border:2px solid red;
  padding:20px;
}

main{
  border:2px solid green;
  margin:50px;
}