/* reset CSS */
/* busca resetear estilos predefinidos de CSS */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border:2px solid blue;
  /* esto aplica para margin, padding */
  /* margin:50px; */
  /* 02 valores: EJEY EJEX */
  /* margin: 40px 100px; */
  /* 04 valores: arriba derecha abajo izq 🕛 */
  /* margin: 20px 40px 60px 80px; */
  margin: 0 auto;
  width: 500px;
}

h1{
  border:2px solid red;
  padding:20px;
}

main{
  border:2px solid green;
  margin:50px;

  width: 500px;
  height: 300px;
  padding:40px;
  /* border-box -> vas a medir lo que se indique incluyendo al contenido + borde + padding */
  box-sizing: border-box;
}

aside{
  border:2px solid blue;
  padding:20px;
  width:300px;
}