* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temporal */  
  border:2px solid blue;
}

.contenedor {
  /* hasta donde se puede reducir su ancho*/
  min-width: 800px;
  /* hasta donde se puede agrandar su ancho*/
  max-width: 1200px;
  /* hasta donde se puede reducir su altura */
  min-height: 1000px;
   /* hasta donde se puede agrandar su altura*/
  max-height: 1200px;
  margin:0 auto;
  padding:40px;
  /* grid */
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(4, minmax(150px, 1fr));
}