/* Estilos para la barra de navegación */
.sidebar {
  transition: all 0.3s ease; /* Transición suave */
  width: 250px; /* Ancho fijo para la barra */
  position: static; /* Mostrar la barra */
  height: 100vh;
}

.show {
  top: 0;
  left: 0;
}

.hide {
  position: absolute;
  left: -100%; /* Esconder la barra */
}

/* Estilo para el botón de toggle */
.toggle-nav-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000; /* Asegura que el botón esté encima de todo */
}

.toggle-nav-btn i {
  transition: transform 0.3s ease; /* Transición suave para el ícono */
}

/* Ajuste para la barra de navegación en dispositivos pequeños */
@media (max-width: 768px) {
  .sidebar {
    width: 200px; /* Ancho más pequeño en pantallas pequeñas */
  }
}
